<h1>{{title}}</h1>
<link rel="stylesheet" href="/wikipage.css">
<div class="dragon-list">
  {{#each dragons}}
    <div class="dragon-info">
      <img src="{{image}}" alt="{{name}}">
      <h2>{{name}}</h2>
      <p>{{description}}</p>
    </div>
  {{/each}}
</div>
